# Odoo backend config
ODOO_URL=https://your-odoo-instance.example.com/
ODOO_DB=odoo
ODOO_USER=usuario@empresa.com
ODOO_PASSWORD=your-password
ODOO_API_KEY=your-api-key
ODOO_PORT=443

# Flask config
FLASK_ENV=production
FLASK_DEBUG=false
FLASK_SECRET_KEY=asdkjasdkjasdkj123123
DASHBOARD_USERNAME=admin
DASHBOARD_PASSWORD=efellay
PORT=5000
